body {
	background-color: #000;
	padding:0;
	margin: 0;
}
td {
	font-family: '';
	font-size: 0.32rem;
	color: #fff;

}
.header-order {
	box-sizing:border-box;
}
.kxiantu {
	height: 5.5rem;
	margin-top: 5px;
	width: 100%;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.k_img {
	width: 53.3333%;
	height: 5.4rem;
	border-bottom: none;
}
.wudang {
	width: 46.6666%;
	float: right;
	border-collapse:collapse;

}
.first-row {
	height: 0.36rem;
}
.first-row td {
	width: 33.333%;
	text-align: center;
	color: #fff;
	height: 0.36rem;
	line-height: 0.36rem;
	font-size: 0.28rem;
}
.other-row td {
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	font-size: 0.28rem;
}
/*最下面区域*/
.downbox {
	width: 100%;
}
.downbox td {
	/*width: 25%;*/
	/*padding-left: 0.3rem;*/
	display: inline-block;
	font-size: 0.28rem;
	font-family: '微软雅黑';
}
.downbox tr {
	height: 0.48rem;
	line-height: 0.48rem;
}
.downbox tr td:nth-child(odd) {
	width: 25%;
	padding-left: 5%;
}
.downbox tr td:nth-child(even) {
	width: 25%;
}
.bourse {
	width: 1.6rem;
	color: #000;
	background-color: #fff;
	height: 25px;
}
.bourse option {
	font-size: 0.32rem;
	color: #000;
}
.buybtn {
	width: 90%;
	background-color: #0968f0;
	border-radius: 4px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	margin:0.1rem auto 1rem auto;
	font-size: 0.36rem;
	cursor: pointer;
	color: #fff;

}
.f13 {
	color: #ff3300;
	font-size: 0.32rem;
}
.g13 {
	color: green !important;
}
.table-header {
	width: 82%;
	text-align:left; 
	white-space:nowrap;
}
.firsttd {
	width: 2rem;
	color: red;
	font-size: 0.48rem;
	font-weight: bold;
}
.yellow {
	color: yellow;
	font-size: 0.32rem;
}
.width100 {
	width: 2rem;
}
.red16 {
	color: red;
	font-size: 0.32rem;
}
.red18 {
	color: red;
	font-size: 0.32rem;
}
.green16 {
	color: #0ade12;
	font-size: 0.32rem;
}
.zixuanbtn {
	display: inline-block;
	width: 14%;
	height: 0.6rem;
	line-height: 0.6rem;
	color: #fff;
	text-align: center;
	margin: 0.28rem auto;
	font-size: 0.28rem;
	background-color: #ef9008;
	cursor: pointer;
}
.border-bot {
	border-bottom: 1px solid #fff;
}
.fundstyle {
	width: 1.6rem;
	color: #ff3300;
}
.codeipt {
	width: 80%;
	height: 0.44rem;
	outline: none;
	background-color: #000;
	border:1px solid #eee;
	color: #fff;
	border-radius: 4px;
}
