* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	/*color: #fff;*/
	font-size: 12px;

}
.layui-layer-title {
	height: 20px !important;
	line-height: 20px !important;
	text-align: center;

}
.layui-layer-btn0 {
	background-color: #CD2626;
}
body {
	background-color: #131313;
	/*max-width: 750px;*/
	margin: 0 auto;
	height: 100%;
}
.cf::after {
  content:"";
  display:table;
  clear:both;
}
.f-l {
	float: left;
}
.f-r {
	float: right;
}
.red {
	color: red;
}
.orange {
	color: orange;
}
.green {
	color: #3CB371;
}
/*底部导航通用*/
.bar-tab {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #CD2626;
	height: 1rem;
	width: 100%;
}
.tab-item {
	display: inline-block;
	width: 18%;
	height: 50px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	line-height: 1rem;
	outline: none;
	font-weight: bold;
}
.tab-label {
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
}
.active span {
	color: #0894ec;
}
.topnav {
	position: fixed;
	top: 0px;
	left: 0px;
}
.topnav .tab-item {
	width: 15%;
}
.defaultStyle {
	color: #fff;
	font-size: 16px;
}
.header{
	width: 100%;
    height: 0.88rem;
    background-color: #CD2626;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 18px;
    color: #fff;
    line-height: 0.88rem;
    text-align: center;
    position: relative;
    /*margin-bottom: 0.2rem;*/
}
.header .h-text {
  position: absolute;
  width: 3rem;
  left: 50%;
  margin-left: -1.5rem;
  font-size: 18px;
}
.header .backbtn {
	position: relative;
	color: #fff;
	font-size: 18px;
	margin-left: 0.4rem;
  text-decoration: none;
}
.header .arrow {
  position: absolute;
  top: 50%;
  left: -15px;
  margin-top: -12px;
}
